section.copy
  .container
    .copy-container
      .copy-box.wow.animate__lightSpeedInLeft
        .copy-img
          img(src="/assets/images/dest/write-copy.png" alt="copy")
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      .copy-box.wow.animate__lightSpeedInRight
        .copy-img
          img(src="/assets/images/dest/write-copy.png" alt="copy")
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                    