section.key-features
  .container
    .key-features-container
      .key-features-notes.wow.animate__fadeInLeftBig
        .key-features-notes-title
          h2 Akita Inu Dog
          p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        .key-features-pros
          ul
            li.wow.animate__fadeInLeftBig Fully Responsive Design
            li.wow.animate__fadeInLeftBig High Quality Code
            li.wow.animate__fadeInLeftBig Different Headers & Layout
      .key-features-img.wow.animate__fadeInRightBig
        img(src='assets/images/dest/phone.png' alt="phone")
