section.team
  .container
    .team-title
      h2 Our team
      .team-subtitle sales long tail influencer pitch release niche market
    .team-container
      .team-box.wow.animate__fadeInDown
        .worker-img
          img(src="/assets/images/dest/worker1.png" alt="CEO")
        .worker-info.wow.animate__fadeIn.delay2
          h3 john snow
          h4 CEO
      .team-box.wow.animate__fadeInUp
        .worker-img
          img(src="/assets/images/dest/worker2.png" alt="WebDesigner")
        .worker-info.wow.animate__fadeIn.delay2
          h3 lady sansa
          h4 WebDesigner
      .team-box.wow.animate__fadeInDown
        .worker-img
          img(src="/assets/images/dest/worker3.png" alt="Photographer")
        .worker-info.wow.animate__fadeIn.delay2
          h3 david smith
          h4 Photographer
      .team-box.wow.animate__fadeInUp
        .worker-img
          img(src="/assets/images/dest/worker4.png" alt="Photographer-2")
        .worker-info.wow.animate__fadeIn.delay2
          h3 lady sansa
          h4 Photographer
