section.news 
  .news-rows 
    .news-box
      .news-note.wow.animate__fadeInDownBig
        ul.news-date__list
          li.news-date__item
            time(datetime="2016-01-04") Jan 4, 2016
          li.news-date__item In Culture
        h2 Akita Inu Dog
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        p Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur
    .news-box
      .news-box-img.wow.animate__fadeInRightBig
        img.box-img(src="/assets/images/dest/pic1.png" alt="pic1")
  .news-rows.reverse
    .news-box.wow.animate__fadeInUpBig
      .news-note
        ul.news-date__list
          li.news-date__item
            time(datetime="2016-01-04") Jan 4, 2016
          li.news-date__item In Culture
        h2 Akita Inu Dog
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        p Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur
    .news-box
      .news-box-img.wow.animate__fadeInRightBig
        img.box-img(src="/assets/images/dest/pic2.png" alt="pic2")
