section.contact-us
  .container
    .contact-us-title
      h2 we'd love to hear about your project
      .contact-us-subtitle C
    #contact-us-form.contact-us-form
      form(method="POST" action="#")
        input(name="name" placeholder="Name")
        input(type="email" name="email" placeholder="Email")
        input(type="tel" name="tel" placeholder="Phone")
        textarea Message
        button.wow.animate__bounceIn(type="submit") Submit