section.features 
  .container 
    .features-title-wrap
      h2.features__title We are an awesome agency
      .features__backtitle W 
    .feature-list 
      .feature-box.animate__fadeInDown.wow
        .feature-box__img-container
          img.feature-box__img(src="/assets/images/dest/write.png" alt="write")
        h3.feature-num Feature one
        p.feature__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio nihil dolorem minima repellendus laudantium facilis quae saepe sed. Ipsam distinctio velit nemo enim. Ab quidem veniam modi ratione, inventore at?
      .feature-box.animate__fadeInUp.wow
        .feature-box__img-container 
          img(src="/assets/images/dest/write.png" alt="write2")
        h3.feature-num Feature two
        p.feature__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio nihil dolorem minima repellendus laudantium facilis quae saepe sed. Ipsam distinctio velit nemo enim. Ab quidem veniam modi ratione, inventore at?
      .feature-box.animate__fadeInDown.wow
        .feature-box__img-container 
          img(src="/assets/images/dest/search.png" alt="search")
        h3.feature-num Feature three
        p.feature__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio nihil dolorem minima repellendus laudantium facilis quae saepe sed. Ipsam distinctio velit nemo enim. Ab quidem veniam modi ratione, inventore at?
      .feature-box.animate__fadeInUp.wow
        .feature-box__img-container
          img(src="/assets/images/dest/says.png" alt="says")
        h3.feature-num Feature four
        p.feature__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio nihil dolorem minima repellendus laudantium facilis quae saepe sed. Ipsam distinctio velit nemo enim. Ab quidem veniam modi ratione, inventore at?
      

    
