section.blog
  .container
    .blog-title
      h2 Lets's blog
      .blog-subtitle We love clear design and advanced digital solutions.
    .blog-row
      .blog-box.wow.animate__fadeInLeftBig.delay
        .blog-box-img
          img(src="/assets/images/dest/blog-pic1&4.png" alt="blog-pic-one")
        h2 Fresh summer campaign
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      .blog-box.wow.animate__fadeInLeftBig.delay
        .blog-box-img
          img(src="/assets/images/dest/blog-pic2.png" alt="blog-pic-two")
        h2 Fresh summer campaign
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      .blog-box.wow.animate__fadeInLeftBig.delay
        .blog-box-img
          img(src="/assets/images/dest/blog-pic3.png" alt="blog-pic-three")
        h2 Fresh summer campaign
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      .blog-box.wow.animate__fadeInLeftBig.delay
        .blog-box-img
          img(src="/assets/images/dest/blog-pic1&4.png" alt="blog-pic-four")
        h2 Fresh summer campaign
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.