doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Creative Project 
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/google-fonts.css")
    link(rel="stylesheet", href="assets/css/main.min.css")
    link(rel="stylesheet" href="assets/css/animations.css")
    link(rel="stylesheet" href="assets/css/animate.min.css")
  body.page
    include ../blocks/homepage/homepage.pug
    include ../blocks/features/features.pug
    include ../blocks/news/news.pug
    include ../blocks/blog/blog.pug
    include ../blocks/copy/copy.pug
    include ../blocks/key-features/key-features.pug
    include ../blocks/team/team.pug
    include ../blocks/contact-us/contact-us.pug
    include ../blocks/map/map.pug
    include ../blocks/footer/footer.pug
    script(src="assets/js/wow.min.js")
    script(src="assets/js/main.js")